* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.intro_bg {
    background: linear-gradient(45deg, rgb(121, 194, 239), rgb(153, 212, 244));
    width: 100%;
    height: 90px;
}

.header {
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.logo {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 100%;
}

.nav>li {
    margin-left: 150px;
}

/* 맵 */
.map_contents{
  display: flex;
}

.cell-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.cell{
  display: flex;
  margin:4px;
}

.thumbnail {
/*     width: 30%; */
  min-width: 30%;
  max-width: 30%;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  .cell-content {
    width: 70%;
    display: block;
  }
  
  .title {
    padding: 0 4%;
    text-size-adjust: inherit;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .location {
    padding: 0 4%;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .description {
    padding: 0 4%;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  

#map {
    width: 80%; height: 91.3vh; min-height: 500px; float: right;
}

